.main--wrapper
  .container--scenes
    %h2 名場面一覧
    %p.sentence
      = @comic.title
    .container--scenes__list
      %ul
        - @scenes.each do |scene|
          %li
            %h3
              = scene.title
            %p
              = scene.content
            - if scene.user_id != current_user.id 
              .iine
                = link_to "/comics/#{scene.comic_id}/scenes/#{scene.id}/likes" , method: :post do
                  %p いいね