.main--wrapper
  .container--user.clearfix
    %h2 プロフィール
    .user--contents
      = render partial: "user_menu"
      .container--user__right
        %h3 このユーザーが投稿した名場面
        .container--user__right__list
          %ul
            - @scenes.each do |scene|
              %li
                .user--scene--image
                  = image_tag scene.image.url,size:"200x250"
                .user--scene--contents
                  %h3
                    = scene.title
                  %p.scene--comic--title
                    (
                    = scene.comic.title
                    )
                  .edit--button
                    = link_to "編集","/comics/#{scene.comic_id}/scenes/#{scene.id}/edit"
                  %p.scene--comic--content
                    = scene.content
    .pagination--block
      = paginate @scenes



